
flask_app/_pycache__
flask_app/instance
flask_app/*.env
*.env
__pycache__

venv/

.env

try*

logs/

updated_code.py
sample_code.py


*.dump

migrations/

*.pyc
alembic.ini


*.db

schema*.md

# agent_config.json


notebooks/



testing.ipynb
redis_index.json
email_to_userid_mapping.json
redis_backup_20250906_143859.json
"*.db" 
"*.sqlite" 
"*.sqlite3" 
"venv/" 
"__pycache__/" 
"*.pyc" 
